*{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
.heading{
    /* width: 1200px; */
    display: flex;
    margin: auto;
    background-color: white;
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* z-index: 1; */
    /* box-shadow:5px 5px 10px rgba(128, 128, 128, 0.3); */
}
.heading .img{
    width: 150px;
    margin: auto;
}
.heading .search{
    width: 400px;
    margin: 20px;
}
.heading .search input{
    width: 100%;
    padding: 8px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 15px;
}
.heading .search input:hover{
    border: 1px solid #FF5809;
}

.heading .item-gp{
    width: 500px;
    display: flex;
    margin: auto;
    margin-right: 0;
    margin-left: 30px;
    justify-content: flex-end;
}
.heading .item-gp .item{
    margin: 10px;
}
.heading .item-gp .item a{
    color: black;
    font-size: 13px;
    padding: 10px;
}
.heading .item-gp .item a:hover{
    background-color: #f5f5f5;
    border-radius: 30px;
}


.wrap{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #fafafaff;
    padding-top: 50px;
}
.account-gp{
    width: 300px;
    margin-right: 50px;
}
.account-gp .person-information{
    padding: 20px;
    background: linear-gradient(#dbf3ea, white);
    border-radius: 10px;
}
.account-gp .person-information .photo{
    width: 100px;
    margin: auto;
}
.account-gp .person-information .photo img{
    border-radius: 50%;
}
.account-gp .person-information .name{
    width: 140px;
    margin: auto;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    color: black;
    padding: 5px;
}
.account-gp .person-information .edit-information{
    width: 140px;
    margin: auto;
    text-align: center;
    font-size: 13px;
}
.account-gp .person-information .edit-information a{
    color: black;
    text-decoration: none;
}
.account-gp .person-information ul{
    margin-top: 25px;
}
.account-gp .person-information ul .item a{
    width: 100%;
    display: flex;
}
.account-gp .person-information ul .item a:hover{
    background-color: #E0E0E0;
    border-radius: 8px;
}
.account-gp .person-information ul .item a img{
    width: 20px;
    margin: 15px;
    margin-right: 5px;
}
.account-gp .person-information ul .item li{
    color: black;
    font-size: 17px;
    margin: 15px;
}


.payment-gp{
    width: 700px;
    background-color: white;
    border-radius: 10px;
}
.payment-gp .head{
    padding: 10px;
}
.payment-gp .head h3{
    margin: 20px 10px;
    padding-left: 30px;
}
.payment-gp .head span{
    font-size: 13px;
    margin: 0 20px;
    color: gray;
}
.payment-gp .head h3::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 18px;
    background-color: #FF5809;
    border-radius: 99rem;
    margin-left: -15px;
    margin-top: 3px;
}


.payment{
    width: 100%;
}
.payment .img{
    width: 200px;
    margin: auto;
    margin-top: 35px;
}
.payment .txt{
    color: gray;
    text-align: center;
}
.payment .txt p{
    font-weight: 600;
    margin-top: 20px;
}
.payment .txt span{
    display: block;
    font-size: 13px;
    margin: 15px;
}


.payment .payment-btn{
    display: flex;
    justify-content: center;
}
.payment .payment-btn button{
    width: 130px;
    padding: 6px;
    margin: 5px;
    border-radius: 8px;
    border: none;
    margin-bottom: 200px;
    background-color: #029278;
    color: white;
    font-weight: 600;
    border: 1px solid #029278;
}
.payment .payment-btn button:hover{
    background-color: #F75000;
}
